<h2>Realtime Products</h2>
<h2>Websocket</h2>
<a href="/">Home Page</a>
<hr>

<ul id="lista1">
    {{#each resultado}}

    <li>{{this.title}} </li>

{{/each}}



</ul>

{{!-Libreia del socket de lado del cliente- http://localhost:8080/socket.io/socket.io.js --}}


{{!-- levantamos el script de socket.io --}}
<script src="socket.io/socket.io.js"></script>
<script src="assets/scripts/realtimeproducts.js"></script>